@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=David+Libre:wght@400;500;700&family=Gideon+Roman&family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kreon:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Metrophobic&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* =========common class====== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* ======navbar==== */

#header {
  padding: 22px 0px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.8;
}
.nav-logo > a > img {
  width: 100%;
  object-fit: contain;
  max-width: 158px;
}
.nav-list,
.nav-list > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list {
  flex-grow: 1;
  margin-left: 0px auto;
}
.nav-list > ul {
  gap: 50px;
  flex-grow: 1;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-btn > a {
  background: linear-gradient(to right, #f4e07a, #c1963c);
}
.nav-list > ul > li > a {
  color: #52504e;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.nav-list > ul > li > a:hover {
  color: #d09172;
  border-bottom: 2px solid #52504e;
  padding-bottom: 5px;
}
.hamberger > span {
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: black;
}
.hamberger {
  display: none;
}

/* ===============footer section=========== */
footer ul li {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
  justify-content: start;
}
footer {
  background-color: #0d0d0d;
  padding: 63px 0px 32px;
}
footer > .container > .row {
  padding-bottom: 41px;
}
.footer-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-icon > a {
  background-color: #333333;
  border-radius: 50%;
  /* padding:10px; */
}
.footer-head {
  color: #c1963c;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.footer-head::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 52px;
  height: 1px;
  background-color: white;
  left: 0px;
}
footer > .container > .row > .col-20 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.col-20 > ul > li > a {
  color: white;
  text-transform: capitalize;
}
.col-20 > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copy-write > a {
  padding-top: 19px;
  color: white;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.copy-write {
  text-align: center;
}
.footer-last-col > ul > li > a {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* =========================== */
/* From Uiverse.io by david-mohseni */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* ============================================== */
/* =================RESPONSIVE===================== */

@media screen and (max-width: 1024px) {
  /* header{
        position: relative;
    } */

  .nav-list {
    /* display: none; */
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100vh;
    background-color: #333333;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    z-index: 999 !important;
    gap: 20px;
    box-shadow: 0 10px 20px rgba(221, 207, 207, 0.3);
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: top;
    transition: all 0.5s ease;
    pointer-events: none;
  }
 .hamburger.active span {
  background-color: #ffff;
}
  .nav-list > ul {
    flex-direction: column;
    gap: 20px;
  }
  .nav-list > ul > li {
    transform: translateX(20px);
    transition: all 0.5s ease;
  }
  .nav-list > ul > li > a {
    font-size: 13px;
    color: #ffffff;
  }
  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index:1000;
  }
  .hamburger span {
    height: 3px;
    width: 25px;
    background: rgb(0, 0, 0);
    border-radius: 3px;
    transition: 0.4s ease;
  }
  .nav-list ul li a:hover {
      color: #00ffb3;
    }
    .nav-list.active {
      transform: scaleY(1);
      opacity: 1;
      pointer-events: all;
    }
    .nav-list.active  ul li {
      opacity: 1;
      transform: translateY(0);
    }
    .nav-list.active li:nth-child(1) { transition-delay: 0.1s; }
    .nav-list.active li:nth-child(2) { transition-delay: 0.2s; }
    .nav-list.active li:nth-child(3) { transition-delay: 0.3s; }
    .nav-list.active li:nth-child(4) { transition-delay: 0.4s; }
    .nav-list.active li:nth-child(5) { transition-delay: 0.5s; }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .nav-btn > a {
    padding: 10px 20px;
    font-size: 12px;
  }
  .nav-btn {
    margin-top: 10px;
  }
}
/* ==footer(576px)=== */
@media screen and (max-width: 576px) {
  .nav-list{
    width: 100%;
  }
}
/* ============navbar(320px)===== */
@media screen and (max-width: 320px) {
  .nav-logo {
    max-width: 130px;
  }
}
